@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}
:root{
    --bg-color: #080808;
    --second-bg-color:#131313;
    --text-color:white;
    --main-color:#00ffee;
}
html{
    font-size: 60%;
    overflow-x: hidden;

}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 12% 3rem;
    background: rgba(0,0,0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;

}
.logo{
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}
.logo:hover{
    
    transform: scale(1.1);
}
.logo span{
    text-shadow: 0 0 25px greenyellow;
}
.navbar a{
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.4s ease;
    text-shadow: 0 0 30px var(--main-color);
    

}

.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
    
}
#menu-icon{
    font-size: 3.6rem;
    z-index: 10001;
    color: var(--main-color);
    display: none;
}

section{
    background: var(--second-bg-color);
    min-height: 100vh;
    padding: 10rem 12% 10rem;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
    
}
.home-content{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 6rem;
    

}
span{
    color: greenyellow;

}

.logo span{
    color: greenyellow;
}
.home-content h3{
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    font-size: 3.5rem;
}
.home-content h1{
    font-size: 5rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}
.home img{
    position: relative;
    top: 4rem;
    width: 30vw;
    border-radius: 50%;
    aspect-ratio: 1/1;
    box-shadow: 0 0 25px lightgreen;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.home-img img:hover{
    
    box-shadow: 0 0 25px rgb(183, 184, 181),
    0 0 50px rgb(170, 172, 168), 
    0 0 80px rgb(134, 134, 132);
}
.home-content p{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
    max-width: 1000px;


}
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border: 2px solid var(--main-color);
    font-size: 2.5rem;
    border-radius: 50%;
    color: var(--main-color);
    margin: 2rem 1.5rem 2rem 0;
    transition: 0.3s ease-in-out;
}
.social-icons a:hover{
    color: var(--bg-color);
    transform: scale(1.3) translateY(-5px);
    box-shadow: 0 0 20px greenyellow;
    background-color:var(--main-color);
    
}
.btn{
    


        padding: 10px 20px;
        
        border-radius: 8px;
        font-size: 17px;
        font-weight: 700;
        color: black;
        text-shadow: none;
        border-radius: 2rem;
        background-color: var(--main-color);
        cursor: pointer;
        box-shadow: o o 25px var(--main-color);
        
        transition: 0.5s ease ease-in-out;
        user-select: none;
    
      
     
      

}

    
    .btn:hover,
    :focus {
        transform: scale(0.91);
      color: #ffffff;
      background: #008cff;
      border: 1px solid #008cff;
      /* text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff; */
      box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff,
        0 0 100px #008cff;
    }

.btn-group{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.btn-group a:nth-of-type(2){
    background-color: var(--second-bg-color);
    color: #00ffee;
    border: 2px solid var(--main-color);
}
.text-animation{
    font-size: 34px;
    font-weight: 700;
    min-width: 280px;

}
.text-animation span{
    position: relative;
}
.text-animation span::before{
    content: "Web Developer";
    color:var(--main-color);
    animation: words 15s infinite;
}
.text-animation span::after{
    content: "";
    background-color: var(--second-bg-color);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left:  3px solid var(--bg-color);
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}
@keyframes cursor{
    to{
        border-left:  2px solid var(--main-color);
    }
}
@keyframes words{
    0%,20%{
        content: "Mern Stack Developer";
    }
    21%,
    40%{
        content: "React Developer";
    }
    41%,
    60%{
        content: "UI / UX Designer";  
    }
    61%,
    80%{
        content: "Web Designer";
    }
    81%,
    100%{
        content: "Software Developer";
    }
}
@keyframes typing{
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95%{
        width: 0;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85%{
        width: calc(100% + 8px);
    }

}

.about{
   
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    
    
    background-color: var(--second-bg-color);

}

.about-img img{
    position: relative;
    top: 4rem;
    width: 30vw;
    border-radius: 50%;
    aspect-ratio: 1/1;
    box-shadow: 0 0 25px rgb(227, 245, 227);
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.about-img img:hover{
    box-shadow: 0 0 25px greenyellow,
    0 0 50px greenyellow, 
    0 0 85px greenyellow;
}
.heading{
    text-align: center;
    font-size: 4.5rem;
}
.about-content h2{
        text-align: left;
        line-height: 1.2;


}
.about-content h3{
    font-size: 3rem;
    color: var(--main-color);
}
.about-content p{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
    max-width: 1000px;
    margin-bottom: 2.5rem;
}

/* skills section */

    


 .skills .container{
    background: white;
    
    border-radius: 1rem;
    padding: 2rem;
    width: 70%;
    margin: auto;
   margin-top: 1rem;
}
.skills .container .row{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    flex-wrap: wrap;
    gap: 1.8rem;
}
.skills .container .bar{
    margin-bottom: 5px;
    padding: 8px;
    transition: 0.3s ease;
    border-radius: 1rem;
    background-color: #080808;
    cursor: pointer;
   
}
.skills .heading-skill{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    font-size: 5.5rem;
}

 .skills .container .bar:hover{
    transform: scale(1.03);
    
    background: #008cff;
    border: 1px solid #008cff;
    /* text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff; */
    box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff,
      0 0 100px #008cff;
 }
 .skills .container .bar .info {
    display: flex;
    margin-top: 3px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;

 }
 
 .skills .container .bar .info span{
    font-size: 2rem;
    font-weight: 600;

 }
 @media screen and (max-width:600px){
    
    .skills .container{
       margin:  0;
        
        padding: 0;
    }
    .skills .container .row{
        grid-template-columns: repeat(2, 1fr);
        margin: 1rem;
        padding: 2rem 0.2rem 2rem 0.2rem;
        gap: 1rem;
    }
    

    .skills .container{
        margin-top: -20px;
    
        width: 100%;
    }
    .skills .heading-skill{
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
 }

 /* project */
 .projects{
    background: var(--second-bg-color);

 }
 .projects h2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    font-size: 5.5rem;
 }
 .projects span{
    margin-right: 2rem;
 }
.project-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 3rem;
   margin-top: 3.5rem;
}
.project-container .project-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 25px var(--main-color);
    overflow: hidden;
    display: flex;
}
.project-img{
    width:180px;
    height: 180px;
    aspect-ratio: 1/1;
}
.project-box img{
    width: 100%;
    transition: 0.5s ease;
    aspect-ratio: 1/1;
}
.project-box:hover img{
   transform: scale(1.1);
}
.project-box .project-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(240, 236, 29, 0.8), rgb(98, 209, 204));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: 0.5s ease;

}
.project-box:hover .project-layer{
    transform: translateY(0);
}
.project-layer h4{
    font-size: 2rem;
    color: black;
    margin-bottom: 1rem;
}
.project-layer a{
    margin-bottom: 1rem;
}
.btn-btn{
    padding: 8px 10px;
        
    
    font-size: 17px;
    font-weight: 700;
    color:black;
    text-shadow: none;
    border-radius: 2rem;
    border: 1px solid black;
    cursor: pointer;
    box-shadow: o o 25px black;
    
    transition: 0.5s ease-in-out;
    user-select: none;
}
.btn-btn:hover{
    transform: scale(0.91);
    color: #ffffff;
    background: #008cff;
    border: 1px solid #008cff;
    /* text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff; */
    box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff,
      0 0 100px #008cff;
}

/* contact section */
.contact{
    background-color: var(--bg-color);
    
}
.contact h2{
     display: flex;
     align-items: center;
     justify-content: center;
    font-size: 5.5rem;
    margin-top: 1rem;
    
}
.contact span{
    margin-left: 1.5rem;
}
.contact form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem auto;
    text-align: center;


}
.contact form .input-box{
    display: flex;
    
    justify-content: center;
    flex-wrap: wrap;
    
}

.contact form .input-box input,
.contact form textarea{
    width: 90%;

    padding: 1rem;
    font-size: 1.5rem;
    color:white;
    
    background-color: var(--second-bg-color);
    border-radius: 2rem;
    border: 2px solid var(--main-color);
    margin: 0.5rem 0;
    resize: none;
}
.contact form .input-box input:hover,
.contact form textarea:hover{
    transform: none;
    box-shadow: none;
}
.contact form textarea{
    height: 150px;
}
.contact form .btn{
   margin-top: 2rem;
}
.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color:rgb(10, 10, 10);
}
hr{
border: 1px solid white;
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color:var(--main-color);
}
.footer .social a{
    font-size: 25px;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease-in-out;
}
    
.footer .social a:hover{
    transform: scale(1.2) translateY(-10px);
    background-color: var(--main-color);
    color: black;
    box-shadow: 0 0 25px var(--main-color);

}
.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.0;
    margin-bottom: 0;
    text-align: center;


}
.footer ul li a{
    color: white;

    transition: 0.3 ease;
}
.footer ul li a:hover{
    color: var(--main-color)
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;

}
.footer .copyright{
    margin-top: 50px;
    text-align: center;
    font-size: 16px;

}
#hamburger-nav {
    display: none;
  }
  .hamburger-icon{
    display: none;
  }
  .hamburger-menu {
    position: relative;
    display: inline-block;
  }
  
  .hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
  }
  
  .hamburger-icon span {
    width: 100%;
    height: 2px;
    
    background-color: var(--main-color);
    transition: all 0.3 ease-in-out;
  }
  
  .menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    cursor: pointer;
    background-color: white;
    width: fit-content;
    max-height: 0;
    background: rgb(0,0,0,0.8);
        backdrop-filter: blur(20px);
        border-bottom-left-radius:2rem;
        border-left: 2px solid var(--main-color);
    
    overflow: hidden;
    transition: all 0.3 ease-in-out;
  }
  
  .menu-links a {
    display: block;
    padding: 10px;
    
    font-size: 2rem;
    color:white;
    width: 300px;
    background-color: #050505;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
  }
  .menu-links a:hover{
    transform: scale(1.01);
    color: var(--main-color);
  }
  
  .menu-links li {
    list-style: none;
  }
  
  .menu-links.open {
    max-height: 300px;
    
  }
  .hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
  }
  .hamburger-icon.open span:nth-child(2) {
    opacity: 0;
  }
  .hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
  }
  .hamburger-icon span:first-child {
    transform: none;
  }
  .hamburger-icon span:first-child {
    opacity: 1;
  }
  .hamburger-icon span:first-child {
    transform: none;
  }
  

@media (max-width: 1285px){
    html{
        font-size: 55%;
    }
    .project-container{
        padding-bottom: 7rem;
        grid-template-columns: repeat(2,1fr);
        margin: 0 5rem;
    }
    .heading-project {
       
       margin-bottom: 10rem;
    }
}

@media (max-width:991px){
    .header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3% 2rem;
    }
    .projects{
        padding-bottom: 0rem;
    }
    .contact form{

        flex-direction: column;
    }
    .contact h2{
        margin-top: -2rem;
        margin-bottom: 3rem;
    }
    .footer{
        padding: 2rem 3%;
    }
    .footer ul li{
        display: flex;
        text-align: center;
        justify-content: center;
        margin-bottom: 1rem;
    }

}

@media (max-width:895px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 255px;
        min-height: 100vh;
        padding: 1rem 3%;
        display: flex;
        flex-direction: column;
        background: rgb(0,0,0,0.8);
        backdrop-filter: blur(20px);
        border-bottom-left-radius:2rem;
        border-left: 2px solid var(--main-color);
        border-bottom: 2px solid var(--main-color);
        display: none;
        
        
    }
    #hamburger-nav {
        display: block;
        font-weight: 700;
       
      }
    .navbar .active{
        right: 0;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: white;
    }
    .navbar a:hover{
     
       border-bottom: 1px solid var(--main-color);
    }
    .home{
        flex-direction: column-reverse;
        margin: 6rem 4rem;
        background-color: var(--bg-color);
    }
    .home-content h3{
        font-size: 2.6rem;
       
    }
    .home-content h1{
        font-size: 6rem;
        margin-top:-5rem;
    }
    .home-content p{
        max-width: 600px;
        margin: 0 auto;
    }
    .home-img img{
        width: 75vw;
    }
    .projects h2{
        margin-bottom: 6rem;
    }
    .project-container{
        grid-template-columns: repeat(1,1fr);
    }
    .about{
        flex-direction: column;
       
       

    }
    .about-content h2{
        text-align: center;
        margin-top: 2rem;
    }
    .about-content h3{
        text-align: center;
    }
    .about-content p{
        text-align: start;
        margin-left: 2.8rem;
        margin-top: 0.5rem;
    }
    .about-content .btn{
       margin-left: 35%;
       margin-top: 1rem;
      
    }
  .about-img img{
    width:75vw ;
    margin-top: -2rem;
  }
  
}
